In [2]:
# import libraries
import pandas as pd
import numpy as np

In [4]:
# load the data
data = pd.read_csv('../1_Data/Clean_ds_300.csv', index_col = 0)
data.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,CitizenID,Age,TimeEmployee
0,"Brown, Mia",1103024456,1,1,0,1,1,3,1,28.50,...,1,Diversity Job Fair,Fully Meets,2.04,2,6,2019-01-15,1,31,10
1,"LaRotonda, William",1106026572,0,2,1,1,1,3,0,23.00,...,1,Website Banner Ads,Fully Meets,5.00,4,4,2019-01-17,1,35,5
2,"Steans, Tyrone",1302053333,0,0,1,1,1,3,0,29.00,...,1,Internet Search,Fully Meets,3.90,5,5,2019-01-18,1,33,5
3,"Howard, Estelle",1211050782,1,1,0,1,1,3,0,21.50,...,1,Pay Per Click - Google,Fully Meets,3.24,3,4,1970-01-01,1,34,0
4,"Singh, Nan",1307059817,0,0,0,1,1,3,0,16.56,...,1,Website Banner Ads,Fully Meets,5.00,3,5,2019-01-15,1,31,4

In [6]:
# dataframes shape
data.shape

(310, 37)

In [7]:
# 
data.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,Termd,PositionID,Zip,HispanicLatino,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,CitizenID,Age,TimeEmployee
count,3.100000e+02,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000
mean,1.199745e+09,0.396774,0.809677,0.429032,2.396774,4.606452,2.983871,0.093548,31.284806,0.332258,16.838710,6569.732258,0.090323,14.203226,3.332097,3.890323,1.209677,1.025806,40.258065,0.341935
std,1.829600e+08,0.490019,0.944702,0.495738,1.795533,1.082349,0.577124,0.291670,15.383615,0.471785,6.232272,16933.864054,0.287107,8.313867,1.290590,0.910690,2.352009,0.226079,8.864926,13.804900
min,6.020003e+08,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,14.000000,0.000000,1.000000,1013.000000,0.000000,0.000000,1.030000,1.000000,0.000000,0.000000,27.000000,-47.000000
25%,1.101024e+09,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,20.000000,0.000000,18.000000,1901.250000,0.000000,9.250000,2.082500,3.000000,0.000000,1.000000,33.000000,1.000000
50%,1.203032e+09,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,24.000000,0.000000,19.000000,2132.000000,0.000000,14.000000,3.470000,4.000000,0.000000,1.000000,39.000000,4.000000
75%,1.378814e+09,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,45.315000,1.000000,20.000000,2357.000000,0.000000,19.000000,4.520000,5.000000,0.000000,1.000000,45.000000,6.000000
max,1.988300e+09,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,80.000000,1.000000,30.000000,98052.000000,1.000000,39.000000,5.000000,5.000000,8.000000,2.000000,68.000000,13.000000

## Standard scaler